.login-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
}

form {
    width: 90%;
    background: #ffffff;
    padding: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.login-visual {
    width: 55%;
    background-image: url(https://images.pexels.com/photos/5212345/pexels-photo-5212345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-form {
    width: 45%;
    background-color: var(--white);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.login-form h1 {
    font-size: calc(var(--baseFontSize) + 3px);
    margin: 0 0 32px 0;
    color: var(--darkGray);
    text-align: left;
}

.login-option {
    font-size: calc(var(--baseFontSize) - 2px);
    color: var(--darkGray);
    cursor: pointer;
}

.login-option:hover {
    color: var(--primary);
}

.input-note {
    font-size: calc(var(--baseFontSize) - 3px);
    color: var(--mediumGray);
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.input-note img {
    margin: 4px 0 0 5px;
    max-height: 20px;
}

.branding {
    margin: 90px 0 50px 0;
    text-align: center;
}

.branding h2 {
    margin: 8px 0 0 0;
    font-size: var(--baseFontSize);
    text-align: center;
}

.course-display {
    transition: opacity 0.5s ease;
}

@media(max-width: 767px){
    .login-wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }
    .login-form{
        width: 100%;
        padding: 15px;
    }
    form{
        width: 100%;
        padding: 0 15px;
    }
    .branding {
        margin: 20px 0 30px 0;
    }
    .login-visual {
        height: 120px;
        width: 100%;
        border-radius: 0;
        background-position: top left;
    }
}