.earning-box{
    display: flex;
    justify-content: space-between;
}
.earning-box p{
    font-size: calc(var(--baseFontSize) - 1px);
    margin: 5px 0;
}
.earning-box .card{
    width: 49%;
}
.how-it-works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px 0 60px 0;
}
.how-it-works h3{
    width: 100%;
    margin-bottom: 15px;
}
.how-it-works h4{
    width: 100%;
    margin:0 0 40px 0;
    font-weight: normal;
}
.how-it-works h4 strong{
    color: var(--primary);
}
.works-card{
    width: 49%;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    padding: 25px;
    background: linear-gradient(90deg, rgba(105, 219, 123, 0.15) 30%, rgba(52, 109, 242, 0.15) 70%, rgba(82, 149, 252, 0.15) 100%);
}
.works-card h1{
    margin:0;
    font-size: calc(var(--baseFontSize) + 5px);
    color: var(--black);
    font-weight: bold;
}
.works-card .number{
    min-width: 35px;
    min-height: 35px;
    border-radius: 28px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--limeGreen);
    color: var(--white);
    font-size: var(--baseFontSize);
    margin-right: 20px;
    text-align: center;
    padding: 4px;
    line-height: 35px;
}
.works-card button{
    background-color: var(--whatsapp);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 9px 20px;
}
.works-card button:focus{
    outline: 0;
    border: 0;
}
.works-card button:nth-child(2){
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--gray);
    margin-left: 15px;
}
.works-card button:hover{
    background-color: var(--primary);
    color: var(--white);
}
.works-card-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}
.works-card-description p{
    margin:5px 0 0 0;
}
.works-card .cta{
    display: flex;
    margin:15px 0 0 0;
}
.works-card .cta button{
    font-size: calc(var(--baseFontSize) - 1px);
}

@media(max-width: 767px){
    .earning-box p {
        font-size: calc(var(--baseFontSize) - 3px);
        line-height: normal;
    }
    .how-it-works{
        flex-direction: column;
        margin: 20px 0;
    }
    .works-card{
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    .works-card-title{
        flex-direction: column;
    }
    .works-card h1{
        font-size: calc(var(--baseFontSize) + 1px);
    }
    .works-card .number {
        margin: 0 0 10px 0;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        line-height: 25px;
    }
    .works-card .cta{
        flex-direction: column;
    }
    .works-card button {
        margin: 0 0 8px 0 !important;
    }
}