 summary::after {
   content: '';
   width: 15px;
   height: 12px;
   background-image: url('../../assets/chevron-down.svg');
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: .75em;
   transition: 0.2s;
   position: absolute;
   right: 15px;
 }

 details[open]>summary::after {
   transform: rotate(180deg);
 }

 summary::-webkit-details-marker {
   display: none;
 }

 .faq {
   margin-bottom: 30px;
 }

 .faq h3 {
   font-size: calc(var(--baseFontSize) + 3px);
   margin: 0 0 10px 0;
 }

 .faq details {
   border: 1px solid var(--gray);
   cursor: pointer;
   position: relative;
   background-color: var(--grayBlue);
   margin-bottom: 15px;
   padding: 10px 20px;
   box-sizing: border-box;
   border-radius: 8px;
 }

 .faq details:hover {
   background-color: var(--white);
 }

 .faq details summary {
   font-size: calc(var(--baseFontSize));
   display: flex;
   align-items: center;
   font-weight: bold;
   width: 100%;
 }

 .faq details p {
   font-size: calc(var(--baseFontSize));
   margin: 10px 0 0 0;
 }

 .faq details h3 {
   font-size: calc(var(--baseFontSize) + 2px);
   margin: 30px 0 5px 0;
   font-weight: normal;
 }

 .faq-topics {
   background: linear-gradient(90deg, rgba(105, 219, 123, 0.15) 30%, rgba(52, 109, 242, 0.15) 70%, rgba(82, 149, 252, 0.15) 100%);
   padding: 20px;
   border-radius: 8px;
   margin: 30px 0 35px 0;
 }

 .faq-topics h2 {
   font-size: calc(var(--baseFontSize) + 1px);
   margin: 0 0 20px 0;
 }

 .faq-topics a {
   border: 1px solid var(--mediumGray);
   padding: 8px 10px 8px 20px;
   border-radius: 30px;
   color: var(--darkGray);
   margin-right: 15px;
   font-size: calc(var(--baseFontSize) - 2px);
   display: inline-block;
 }

 .faq-topics a img{
  max-height: 10px;
  margin-left: 10px;
  transform: rotate(-90deg);
 }

 .faq-topics a:hover {
   border-color: var(--primary);
   color: var(--primary);
 }

 @media(max-width:767px) {
   .faq details {
     padding: 15px 20px 15px 0;
   }

   .faq details summary {
     font-size: calc(var(--baseFontSize) - 1px);
   }

   summary::after {
     background-size: 15px;
   }

   .faq details p {
     font-size: calc(var(--baseFontSize) - 1px);
   }
 }