 
  summary::after {
    content: '';
    width: 15px;
    height: 12px;
    background-image: url('../../assets/chevron-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
    position: absolute;
    right: 15px;
  }
  
  details[open] > summary::after {
    transform: rotate(180deg);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  .faq{
    margin-bottom: 50px;
  }

.faq details {
  border: 1px solid var(--gray);
  cursor: pointer;
  position: relative;
  background-color: var(--grayBlue);
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.faq details:hover{
  background-color: var(--white);
}

.faq details summary{
    font-size: calc(var(--baseFontSize));
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.faq details p{
    font-size: calc(var(--baseFontSize));
    margin: 10px 0 0 0;
}

@media(max-width:767px){
  .faq details{
    padding: 15px 20px 15px 0;
  }
  .faq details summary {
    font-size: calc(var(--baseFontSize) - 1px);
  }
  summary::after{
    background-size: 15px;
  }
  .faq details p{
    font-size: calc(var(--baseFontSize) - 1px);
  }
}