.olympiad-form {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.olympiad-details {
    width: 48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
}

.olympiad-details img {
    border-radius: 0 0 8px 8px;
}

.olympiad-details h2 {
    margin: 20px 20px 0 20px;
    color: var(--white);
    text-shadow: 1px 1px 2px #5a5a5a;
}

.olympiad-details p {
    margin: 0 20px 20px 20px;
    color: var(--white);
    text-shadow: 1px 1px 2px #5a5a5a;
}

.olympiad-form form {
    width: 48%;
}
.olympiad-form form h2{
    margin: 0 0 20px 2rem;
}

.payment-form{
    width: 48%;
}
.payment-form form{
    width: 100%;
    display: inline-block;
}
.payment-form-header {
    background-color: var(--primary);
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.payment-form-header .logo-white{
    max-width: 240px;
    margin-bottom: 10px;
}
.payment-form-header p{
    color: var(--white);
    margin: 0;
}
.payment-form form{
    padding: 0;
}
.payment-form form .form-group{
    padding: 0 2rem;
}
.payment-form form .payment-form-header .branding{
    margin: 0;
}
@media(max-width:767px){
    .olympiad-form{
        flex-direction: column-reverse;
        padding: 0;
    }
    .olympiad-form form{
        width: 100%;
        box-shadow: none;
        padding-bottom: 30px;
    }
    .olympiad-details{
        width: 92%;
        margin:40px auto 0 auto;
    }
    .payment-form{
        width: 100%;
    }
}