.question-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-container .quiz {
  width: 100%;
}

.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8%;
  margin: 40px 0 0 30px;
  box-shadow: 0 0 10px #dfdfdf;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
}

.question-list .listing {
  max-height: 75vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-item {
  padding: 9px 6px;
  margin-bottom: 5px;
  border-radius: 0;
  font-size: calc(var(--baseFontSize) - 3px);
  text-align: left;
  position: relative;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  color: var(--darkGray);
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.question-item.not-attempted {
  color: var(--darkGray);
}

.question-item.attempted {
  background-color:#2cb742;
  font-weight: bold;
  color: var(--white);
}

.question-nav {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.question-nav button {
  margin: 0 10px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-options .option {
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative;
}

.answer-options .option:hover {
  background-color: var(--grayBlue);
}

.answer-options .option input[type='radio']:checked {
  opacity: 1;
  height: 0;
}

.answer-options .option input[type='radio']:checked:after {
  content: '';
  background-image: url(/src/assets/tick.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-size: cover;
}

.answer-options .option input[type='radio'] {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

.timer {
  background-color: var(--white);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.timer span {
  background-color: var(--darkGray);
  color: var(--white);
  border-radius: 3px;
  padding: 4px;
  margin-left: 6px;
}

.webcam-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 200px;
  height: 150px;
  box-shadow: 0 0 10px #8b8282;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9;
  border-radius: 8px;
  background-image: url('../../assets/recordinng.svg');
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--black);
}

.webcam-container video {
  width: 200px;
  height: 150px;
}

.webcam-container p {
  font-size: calc(var(--baseFontSize) - 2px);
  text-align: center;
  line-height: normal;
  color: var(--gray);
  margin: 0 10px 12px 10px;
}
.recording{
  max-width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
.no-camera-access {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}