.question-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-container .quiz {
  width: 100%;
  position: relative;
}

.question-container .quiz h3 {
  font-size: calc(var(--baseFontSize) + 1px);
  margin-bottom: 20px;
  line-height: 30px;
}

.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 40px 0 0 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 8px;
}

.question-list .listing {
  max-height: 75vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.question-item {
  padding: 9px 6px;
  margin: 4px;
  min-width: 50px;
  font-size: calc(var(--baseFontSize) - 3px);
  text-align: left;
  position: relative;
  background-color: var(--white);
  border: 1px solid var(--gray);
  color: var(--darkGray);
  text-align: center;
  border-radius: 3px;
}

.question-item.not-attempted {
  color: var(--darkGray);
}

.question-item.attempted {
  background-color: var(--limeGreen);
  font-weight: bold;
  color: var(--white);
}

.question-nav {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.question-nav button:nth-child(1) img {
  transform: rotate(180deg);
}

.question-nav button {
  margin: 0 10px;
  border-radius: 2px;
  padding: 10px 5px;
}

.question-nav button:hover {
  background-color: var(--limeGreen);
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.quiz-header h2 {
  margin-bottom: 0;
}

.answer-options .option {
  font-size: calc(var(--baseFontSize) - 2px);
  background-color: var(--white);
  border: 1px solid var(--gray);
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.answer-options .option label {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 13px 0;
}

.answer-options .option:hover {
  background-color: var(--grayBlue);
}

.answer-options .option input[type='radio'],
.answer-options .option input[type='checkbox'] {
  margin: 0 10px 0 15px
}

.timer {
  background-color: var(--white);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.timer span {
  background-color: var(--darkGray);
  color: var(--white);
  border-radius: 3px;
  padding: 4px;
  margin-left: 6px;
}

.webcam-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 200px;
  height: 150px;
  box-shadow: 0 0 10px #8b8282;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9;
  border-radius: 8px;
  background-image: url('../../assets/recordinng.svg');
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--black);
}

.webcam-container video {
  width: 200px;
  height: 150px;
}

.webcam-container p {
  font-size: calc(var(--baseFontSize) - 2px);
  text-align: center;
  line-height: normal;
  color: var(--gray);
  margin: 0 10px 12px 10px;
}

.recording {
  max-width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

.no-camera-access {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.exam-rules {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.exam-rules-section {
  width: 48%;
}

.exam-rules ul {
  background-color: var(--grayBlue);
  padding: 10px 30px;
  border-radius: 8px;
  margin: 0 0 30px 0;
  border: 1px solid var(--gray);
}

.start-exam-cta {
  text-align: center;
  margin-bottom: 50px;
}

.exam-started {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 20px;
}

.captured-photo {
  width: 48%;
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.capture-image {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 30px 0;
}

.live-camera-cta {
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin: 30px 0;
}
.live-camera-cta .isSecondary{
  margin-right: 50px;
  color: var(--primary);
  background-color: var(--lightGray);
}

.live-camera {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}
.start-exam{
  text-align: center;
  width: 100%;
  margin: 30px 0;
}
.access-permission{
  align-items: center;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.access-permission img{
  max-width: 300px;
  margin:10px 0 30px 0;
}