table.admin-table td, table.admin-table th{
    padding: 7px 10px;
    font-size:calc(var(--baseFontSize) - 3px)
}
.date-filter{
    display: flex;
    align-items: center;
    font-size:calc(var(--baseFontSize) - 3px);
    overflow-x: auto;
}
.date-filter form{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.date-filter form .form-group{
    margin-right: 15px;
    width: 100%;
}
.date-filter form .from-group label{
    margin-right: 5px;
    font-weight: bold;
}
.date-filter form .from-group{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.admin-cta-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 30px;
}
.admin-cta-row h2{
    border: 0;
    padding: 0;
}
.admin-cta{
    margin-right: 0;
}
.admin-cta-right button{
    background-color: var(--white);
    color: var(--mediumGray);
    padding: 0;
    border: 0;
    margin-left: 15px;
}
.admin-cta-right button:hover{
    color: var(--primary);
}
.csv-upload{
    margin-top: 80px;
}
h2 button{
    margin: 0 0 0 auto;
}