.header {
  display: flex;
  background-color: var(--white);
  border-bottom: 1px solid var(--grayBlue);
}

.header .container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0;
}

.header-right .username {
  display: flex;
  align-items: center;
}
.header-right .username strong{
  margin-left: 5px;
}
.header-right:hover .username .arrow{
  opacity: 1;
}
.header-right:hover .dropdown-menu{
  display: flex;
}

.header .dropdown-menu button {
  background-color: var(--white);
    border-radius: 0;
    border:0;
    padding: 12px 20px;
    color: var(--darkGray);
    text-align: left;
    font-size: calc(var(--baseFontSize) - 3px);
    font-weight: normal;
    display: flex;
    align-items: center;
}
.header .dropdown-menu button:hover {
  background-color: var(--lightGray);
}
.header-right button img {
  max-height: 14px;
}
.dropdown-menu {
  position: absolute;
  width: 200px;
  background-color: var(--white);
  flex-direction: column;
  display: flex;
  right: 0;
  top: 55px;
  box-shadow: 0 0 10px #e7e7e7;
  display: none;
}

.profile-image{
  max-width: 30px;
  margin-left: 10px;
  border: 2px solid transparent;
  border-radius:100%;
}
.header-right:hover .profile-image{
  border-color: var(--gray);
}

@media(max-width: 767px) {
  .header {
    padding: 15px;
  }
  .header .logo {
    max-height: 20px;
  }
  .header-right .username {
    font-size: calc(var(--baseFontSize) - 3px);
  }
}