.lms-form{
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.lms-form form{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 90px;
}
.olympiad-form form .branding{
    margin: 20px 0 40px 0;
}
.user-profile{
    display: flex;
    justify-content: space-between;
}
.user-profile-left{
    width: 60%;
}
.user-profile-right{
    width: 35%;
}
.user-profile-upload {
    border: 1px solid var(--gray);
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.user-profile-upload button{
    margin-top: 20px;
    font-size: calc(var(--baseFontSize) - 3px);
}
.img-size{
    max-width: 150px;
}

@media(max-width:767px){
    .lms-form{
        padding:0 15px;
    }
    .lms-form form{
        width: 100%;
    }
}