.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.flex-card h3{
  width: 100%;
  margin: 20px 0;
}
.flex-card .card img{
  border-radius: 8px 8px 0 0;
}
.flex-card .card{
  width: 24%;
  margin-bottom: 20px;
  /* background: linear-gradient(90deg, rgba(105, 219, 123, 0.15) 30%, rgba(52, 109, 242, 0.15) 70%, rgba(82, 149, 252, 0.15) 100%); */
}
.flex-card .card:nth-child(odd){
/* background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); */

}
.flex-card .details{
  padding: 15px;
}
.flex-card .details h4{
  font-weight: bold;
  margin:0 0 10px 0;
  font-size: calc(var(--baseFontSize) + 2px);
}
.flex-card .details p{
  font-size: calc(var(--baseFontSize) - 2px);
  line-height: 25px;
  color: var(--darkGray);
  margin-bottom: 0;
}
.flex-card .details .designation{
  color: var(--black);
  font-weight: bold;
  margin-bottom: 10px;
}
.flex-card .details .duration{
  border-top: 1px solid var(--gray);
  margin-top: 15px;
  padding-top: 5px;
}

.flex-card .card.coursesCard{
  background: var(--white);
}
.flex-card .card.coursesCard h4{
  font-size: calc(var(--baseFontSize) + 1px);
}

@media(max-width:767px){
  .flex-card{
    flex-direction: column;
  }
  .flex-card .card{
    width: 100%;
  }
}