#root {
  margin: 0 auto;
  padding:0;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0 0 30px 20px;
  padding: 0;
}

ul li {
  list-style: disc;
  padding: 8px 0;
}

ul li span {
  list-style: inside;
  display: block;
  position: relative;
  padding: 12px 0 5px 20px;
  margin: 0 0 0 22px;
  font-size: calc(var(--baseFontSize) - 1px);
}

ul li span:before {
  position: absolute;
  content: '◇';
  left: 0;
}

p {
  margin: 0 0 15px 0;
  font-size: calc(var(--baseFontSize) + 1px);
  text-align: left;
  line-height: 30px;
  color: var(--darkGray);
}

h2 {
  margin: 30px 0 10px 0;
  font-size: calc(var(--baseFontSize) + 10px);
  color: var(--black);
}

h3 {
  margin: 6px 0 5px 0;
  font-size: calc(var(--baseFontSize) + 6px);
  color: var(--black);
}

.container{
  width: 98%;
  margin: 0 auto;
}
.container-wrapper{
  width: 1280px;
  margin: 0 auto;
}

.table{
  border-collapse: collapse;
  width: 100%;
}
.table tr:hover{
  background-color: var(--lightGray);
}
.table th{
  font-weight: bold;
}
.table th, .table td{
  text-align: left;
  padding: 8px 16px;
  border: 1px solid var(--grayBlue);
  font-size: calc(var(--baseFontSize) - 2px);
  white-space: nowrap;
}
.table td button{
  margin-left: 1rem;
}
.table td button:first-child{
  margin-left: 0;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group label {
  font-weight: bold;
  font-size: calc(var(--baseFontSize) - 1px);
  margin-bottom: 0.2rem;
  display: block;
  text-align: left;
}

.form-control {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: calc(var(--baseFontSize) - 1px);
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  resize: none;
}
.form-control:disabled {
  background-color: var(--lightGray);
  color: var(--darkgray);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}