.earning-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.earning-box .card{
    width:100%;
}
.earning-box .card:nth-child(2){
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.awards{
    display: flex;
    justify-content: space-between;
}
.awards-card{
    width: 32%;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    padding: 25px;
    background: linear-gradient(90deg, rgba(105, 219, 123, 0.15) 30%, rgba(52, 109, 242, 0.15) 70%, rgba(82, 149, 252, 0.15) 100%);
}
.awards-card:nth-child(2){
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
.awards-card h1{
    margin: 0 0 20px 0;
    font-size: calc(var(--baseFontSize) + 5px);
    color: var(--black);
    font-weight: bold;
}
.awards-card-description p{
    margin:5px 0 0 0;
}